$color_black: #000;
$color_grey: #555;
$color_white: #fff;
$color_accent: #C0301C;
$color_accent-opacity: rgba(192, 48, 28, 0.70);
$color_grey-opacity: rgba(85, 85, 85, 0.5);
$color_black-opacity: rgba(0, 0, 0, 0.45);
$color_grey-light-bg: #F8F8F8;
$color_grey-light-icon: #ddd;
$color_grey-light-text: #777;
$promo_height: 770px;
$color_bg_accent_opacity: rgba(192, 47, 27, 0.6);