.article-blog {
  position: relative;
  width: 640px;

  &__title {
    @extend %transition-02s-linear;
    margin: 14px 0 14px;
    padding-left: 100px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;

    &:hover + .blog-sub-title > .blog-sub-title__autor,
    &:hover + .blog-sub-title > .blog-sub-title__autor-position {
      color: $color_accent;
    }

    &-link {
      @extend %transition-02s-linear;
      display: inline-block;
      color: inherit;

      &:hover {
        color: $color_accent;
      }
    }
  }

  &__sub-title {
    padding-left: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-style: italic;
  }

  &__text {
    margin: 34px 0px 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    @extend %transition-02s-linear;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color_grey;

    &:hover {
      color: $color_accent;
    }
  }
}