.article-blog {
  position: relative;
  width: 640px;

  &__wrapper {
    &:hover .article-blog__title,
    &:hover .blog-sub-title__autor,
    &:hover .blog-sub-title__autor-position {
      color: $color_accent;
    }
  }

  &__title {
    @extend %transition-02s-linear;
    margin: 14px 0 14px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__sub-title {
    padding-left: 100px;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-style: italic;
  }

  &__text {
    margin: 34px 0px 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    @extend %transition-02s-linear;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color_grey;

    &:hover {
      color: $color_accent;
    }
  }
}

.date-block {
  position: absolute;
  padding: 12px;
  width: 76px;
  height: 76px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  border: 2px solid $color_grey;
}

.date-block--big {
  font-size: 24px;
}

.date-block--small {
  font-size: 14px;
  text-transform: uppercase;
}
