.input-form{
  padding: 0 15px;
}

.input-block {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  width: 730px;

  .input-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-item {
      border: 1px solid $color_grey;
      width: 350px;
      height: 44px;
      padding-left: 17px;
      line-height: 44px;
      margin-bottom: 22px;

      &:focus {
        border-color: $color_accent;
        outline: 0;
      }

      &::placeholder {
        font-family: 'Roboto Slab', serif;
        font-size: 12px;
        line-height: 44px;
        text-transform: uppercase;
        color: $color_grey;
        font-weight: 400;
      }
    }
  }

  .message {
    height: 104px;
    width: 730px;
    border: 1px solid $color_grey;
    resize: none;
    padding-left: 17px;
    line-height: 44px;

    &::placeholder {
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase;
      color: $color_grey;
    }

    &:focus {
      border-color: $color_accent;
      outline: 0;
    }
  }
}

.submit{
  display: flex;

  .submit-btn {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid $color_grey;
    width: 170px;
    height: 44px;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
    color: $color_grey;
    cursor: pointer;
    transition: border 200ms linear;
    transition: color 200ms linear;
    transition: background-color 200ms linear;

    &:hover{
      background-color: $color_accent;
      color: $color_white;
      border: none;
    }
  }

  .submit__text{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 44px;
    color: $color_grey;
    padding-left: 40px;
    
    .star{
      color: $color_accent;
    }
  }
}