.intouch {
  min-height: 370px;
  width: 100%;
  background-image: linear-gradient(
      $color_bg_accent_opacity,
      $color_bg_accent_opacity
    ),
    url(../../images/bg_site/bg_mid.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        $color_bg_accent_opacity,
        $color_bg_accent_opacity
      ),
      url(../../images/bg_site/bg_mid@2x.jpg);
  }

  @media (min-resolution: 288dpi) {
    background-image: linear-gradient(
        $color_bg_accent_opacity,
        $color_bg_accent_opacity
      ),
      url(../../images/bg_site/bg_mid@3x.jpg);
  }

  &__promo {
    color: $color_white;
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 43px;
    text-align: center;
  }

  &__btn {
    color: $color_white;
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
    padding: 0 27px;
    border: 2px solid $color_white;
    border-radius: 2px;
    transition: all 0.2s linear;

    &:hover {
      color: $color_accent;
      background-color: $color_white;
    }
  }
}
