.reviews-block {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto 20px;
  font-family: 'Roboto Slab', serif;
  line-height: 30px;
  text-align: center;


  &__text {
    font-size: 18px;
    font-style: italic;
  }

  &__autor-name {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
  }
}
