.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $color_grey;
  margin-bottom: 25px;
  padding-top: 100px;

  &::after{ 
    display: block;
    content: "";
    background-color: $color_grey;
    height: 2px;
    width: 50px;
    margin: 25px auto 0px;
  }
}