.slider-dots {
  text-align: center;

  &__dot {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__btn {
    @extend %transition-02s-linear;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background-color: $color_grey-light-icon;

    &--active,
    &:hover  {
      background-color: $color_accent;
    }
  }
}